.logo-text {
    margin: 3em 0 1em 0;
    text-align: center;
    font-weight: bold;
    color:#048271;
    font-size: 2.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40em;
    margin: 50px auto;
    padding: 20px;
    background-color: #9FCBC9;
    border-radius: 12px;
}

.form-text h2 {
    margin: 0.8em 0 0.4em 0;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    margin: 0.5em 0 1em 0;

}