.search-container {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    width: 792px;
    height: 50px;
    margin: 30px auto;
    background-color: #ffffff;
}
.board-search {
    border-radius: 10px;
    border: 0;
    width: 100%;
}
.board-post-btn {
    width: 180px;
    height: 50px;
    background-color: var(--main--green--color);
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    margin: 0 0 30px 1020px;
}
/* 전체 스크롤 말고 .board-list 내에서만 스크롤 되도록 수정해야 함 */
.board-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 68px;
}
.board-list-post {
    width: 350px;
    height: 500px;
    padding: 28px 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #ffffff;
}
.board-list-img {
    width: 280px;
    height: 210px;
}
.board-list-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 0 0;
}
.board-list-username {
    margin: 0 auto 0 0;
}
.board-list-content {
    overflow: hidden;    
}