.Big-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 170px;
  flex-shrink: 0;
  margin-top: 114px;
}
.post-container {
  display: flex;
  width: 588px;
  height: 165px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #ffffff;
}

.text1-container {
  display: flex;
  width: 169px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 26.76px */
}

.score-container {
  display: flex;
  width: 83px;
  height: 71px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #048271;
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.8%; /* 85.632px */
  margin-top: 40px;
  margin-left: 40px;
}

.unit-container {
  display: flex;
  width: 25px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 26.76px */
  margin-top: 75px;
  margin-right: 40px;
}

.text2-container {
  display: flex;
  width: 169px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 26.76px */
  margin-top: 95px;
  margin-left: 35px;
}

.user-container {
  display: flex;
  flex-direction: row;
  width: 588px;
  height: 165px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #ffffff;
  margin-left: 24px;
}

.text3-container {
  display: flex;
  width: 169px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 26.76px */
}

.score2-container {
  display: flex;
  width: 83px;
  height: 71px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #048271;
  text-align: center;
  font-family: Pretendard;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.8%; /* 85.632px */
  margin-top: 40px;
  margin-left: 40px;
}

.unit2-container {
  display: flex;
  width: 25px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 26.76px */
  margin-top: 75px;
  margin-right: 40px;
}

.text4-container {
  display: flex;
  width: 169px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 26.76px */
  margin-top: 95px;
  margin-left: 30px;
}

.graph-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #048271;
  margin-top: 24px;
}

.history-container {
  display: flex;
  width: 165px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ffffff;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-left: 5px;
  margin-top: 10px;
}

.add-container {
  display: flex;
  width: 180px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #bed8eb;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  margin-left: -160px;
  margin-top: 10px;
}

.percent-container {
  display: flex;
  width: 45px;
  height: 240px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ffffff;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #ffffff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 290%; /* 46.4px */
  margin-top: 50px;
  margin-left: -180px;
}

.vertical {
  width: 2px;
  height: 263px;
  background: #ffffff;
  margin-top: 30px;
}

.horizon {
  width: 920px;
  height: 2px;
  background: #ffffff;
  margin-top: 292px;
}

.Bigdate-container {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #048271;
  margin-left: -760px;
}

.date-container1 {
  display: flex;
  width: 80px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 21.408px */
  margin-top: 300px;
  margin-left: -130px;
}

.date-container2 {
  display: flex;
  width: 80px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 21.408px */
  margin-top: 300px;
  margin-left: 110px;
}

.date-container3 {
  display: flex;
  width: 80px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 21.408px */
  margin-top: 300px;
  margin-left: 110px;
}

.date-container4 {
  display: flex;
  width: 80px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 21.408px */
  margin-top: 300px;
  margin-left: 110px;
}

.date-container5 {
  display: flex;
  width: 80px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 21.408px */
  margin-top: 300px;
  margin-left: 110px;
}
.project-container {
  width: 1200px;
  height: 335px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #ffffff;
  margin-top: 24px;
}

.text5-container {
  display: flex;
  width: 252px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.8%; /* 32.112px */
  margin-left: 7px;
}

.content-container {
  display: flex;
  width: 1080px;
  height: 180px;
  flex-direction: column;
  margin-top: 21px;
  margin-left: 68px;
}

.title-container {
  display: flex;
  width: 432px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.8%; /* 32.112px */
}

.explain-container {
  width: 736px;
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.8%; /* 16.056px */
}

.detail-container {
  display: flex;
  width: 800px;
  height: 32px;
  flex-direction: row;
}
.goodtext-container {
  display: flex;
  width: 30px;
  height: 25px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 13.38px */
}

.goodscore-container {
  display: flex;
  width: 35px;
  height: 25px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 13.38px */
}

.comment-container {
  display: flex;
  width: 30px;
  height: 25px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 13.38px */
}

.commentscore-container {
  display: flex;
  width: 35px;
  height: 25px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 13.38px */
}

.date-container {
  display: flex;
  width: 62px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5b5b5b;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 13.38px */
  margin-left: -129px;
}
.Retrospective {
  display: flex;
  width: 108.197px;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  color: #ffffff;
  background-color: #048271;
  border-radius: 8px;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.8%; /* 18.732px */
  margin-top: 10px;
  margin-left: 600px;
}

.text-container {
  display: flex;
  width: 100px;
  height: 30px;
  margin-left: 8px;
  margin-top: 6px;
}