.logo-text {
    margin: 3em 0 1em 0;
    text-align: center;
    font-weight: bold;
    color:#048271;
    font-size: 2.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40em;
    margin: 50px auto;
    padding: 20px;
    background-color: #9FCBC9;
    border-radius: 10px;
}

.form-text h2 {
    margin: 0.8em 0 0.4em 0;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7em;
}

.label {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.access-options {
    display: flex;
    gap: 10px;
}

.option {
    padding: 0.7em 1.5em;
    border: 1px solid #048271;
    background-color: #fff;
    color:#048271;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.option.selected {
    background-color: #048271;
    color: #fff;
}

.input-box {
    border: 1px solid #048271;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    margin: 0px 1.5em;
    flex: 1;
}

.add-button {
    padding: 0.7em 1.5em;
    border-radius: 5px;
    background-color: #048271;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
    cursor: pointer;
}

.invited-friends {
    cursor: pointer;
    text-decoration: underline;
    color: #048271;
    font-weight: bold;
}

.invited-list {
    display: none;
    flex-direction: column;
    padding: 1em 3em;
    background-color: #fff;
    border-radius: 5px;
}


.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button {
    padding: 5px 10px;
    margin : 0.2em 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #9FCBC9;
    color: #fff;
    cursor: pointer;
}