<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/board_list.css' %}">
    <title>ProReflect</title>
</head>
<body>
    <header id="header">
        <a href="" id="header-logo">ProReflect</a>
        <nav id="header-nav">
            <a href="{% url 'board_list' %}">공유용 게시판</a>
            <a href="{% if user.is_authenticated %}{% url 'grow_1' %}{% else %}{% url 'login' %}{% endif %}">성장관찰</a>
            <a href="{% if user.is_authenticated %}{% url 'mypage_share' %}{% else %}{% url 'login' %}{% endif %}">마이페이지</a>
        </nav>
    </header>
    <main>
        <div class="search-container">
            <img src="{% static 'img/board-search.svg' %}" alt="검색창 아이콘">
            <input type="text" class="board-search" placeholder="검색어를 입력해주세요">
        </div>
        <button class="board-post-btn" onclick="location.href='{% url 'board_create' %}'">Reflect 작성</button>
        <div class="board-list">
            {% for post in posts %}
            <div class="board-list-post">
                <a href="{% url 'board_detail' post.id %}">
                    {% if post.file %}
                        <img src="{{ post.file.url }}" alt="게시판 포스트 사진" class="board-list-img">
                    {% else %}
                        <img src="{% static 'img/default_project_image.png' %}" alt="기본 이미지" class="board-list-img">
                    {% endif %}
                    <h2 class="board-list-title">{{ post.title }}</h2>
                    <p class="board-list-username">{{ post.user.username }}</p>
                    <p class="board-list-content">{{ post.content|truncatechars:150 }}</p>
                </a>
            </div>
            {% empty %}
            <p>게시물이 없습니다.</p>
            {% endfor %}            
        </div>
    </main>
    {% load static %}
    <script src="{% static 'js/board_list.js' %}"></script>
</body>
</html>