<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/board_create.css' %}">
    <title>ProReflect</title>
</head>
<body>
<header id="header">
    <a href="{% url 'main' %}" id="header-logo">ProReflect</a>
    <nav id="header-nav">
        <a href="{% url 'board_list' %}">공유용 게시판</a>
        <a href="{% if user.is_authenticated %}{% url 'grow_1' %}{% else %}{% url 'login' %}{% endif %}">성장관찰</a>
        <a href="{% if user.is_authenticated %}{% url 'mypage_share' %}{% else %}{% url 'login' %}{% endif %}">마이페이지</a>
    </nav>
</header>
<main>
    <form action="{% url 'board_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 id="board-create-title">Reflect 작성
            <button class="back-icon-btn">
                <img src="{% static 'img/back-button.svg' %}" alt="뒤로가기 아이콘">
            </button>
        </h1>
        <div id="board-create-top">
            <input type="text" id="board-create-post-title" name="title" placeholder="제목을 입력해 주세요.">      
            <button class="board-post-btn">Reflect 게시</button>
        </div>
        <div id="board-create-content">
            <textarea id="board-create-content-detail" name="content" placeholder="프로젝트의 목적, 개발 스택, 배포 링크, 깃허브 주소 등 개발했던 프로젝트와 관련된 이야기를 써주세요. 같이 프로젝트에 참여한 사람을 @멘션 해보세요!"></textarea>
            <input type="hidden" name="participants" id="participants_input">
            <input type="hidden" name="development_period" id="development_period_input">
            <input type="hidden" name="language" id="language_input">
            <input type="file" name="file" id="board-file-input" style="display:none;">
            <div id="board-create-setting-box">
                <!-- 개발 기간 드롭다운 -->
                <div class="board-create-dropdown">
                    <button class="board-create-dropdown-btn" onclick="toggleDropdown(); event.preventDefault()">
                        개발 기간
                        <img src="{% static 'img/inverted-triangle.svg' %}" alt="드롭다운 아이콘" class="board-create-dropdown-img">
                    </button>
                    <div class="board-create-dropdown-content">
                        <a href="#" onclick="selectOption('0-3', 'development_period_input', '.board-create-dropdown-btn'); event.preventDefault()">0~3개월</a>
                        <a href="#" onclick="selectOption('4-7', 'development_period_input', '.board-create-dropdown-btn'); event.preventDefault()">4~7개월</a>
                        <a href="#" onclick="selectOption('8-11', 'development_period_input', '.board-create-dropdown-btn'); event.preventDefault()">8~11개월</a>
                        <a href="#" onclick="selectOption('12+', 'development_period_input', '.board-create-dropdown-btn'); event.preventDefault()">12개월 이상</a>
                    </div>                    
                </div>

                <!-- 참여 인원 드롭다운 -->
                <div class="board-create-dropdown2">
                    <button class="board-create-dropdown-btn2" onclick="toggleDropdown2(); event.preventDefault()">
                        참여 인원
                        <img src="{% static 'img/inverted-triangle.svg' %}" alt="드롭다운 아이콘" class="board-create-dropdown-img">
                    </button>
                    <div class="board-create-dropdown-content2">
                        <a href="#" onclick="selectOption('1-6', 'participants_input', '.board-create-dropdown-btn2'); event.preventDefault()">1~6명</a>
                        <a href="#" onclick="selectOption('7-12', 'participants_input', '.board-create-dropdown-btn2'); event.preventDefault()">7~12명</a>
                        <a href="#" onclick="selectOption('13-18', 'participants_input', '.board-create-dropdown-btn2'); event.preventDefault()">13~18명</a>
                        <a href="#" onclick="selectOption('19+', 'participants_input', '.board-create-dropdown-btn2'); event.preventDefault()">19명 이상</a>
                    </div>                    
                </div>

                <!-- 사용 언어 드롭다운 -->
                <div class="board-create-dropdown">
                    <button class="board-create-dropdown-btn3" onclick="toggleDropdown3(); event.preventDefault()">
                        사용 언어
                        <img src="{% static 'img/inverted-triangle.svg' %}" alt="드롭다운 아이콘" class="board-create-dropdown-img">
                    </button>
                    <div class="board-create-dropdown-content3">
                        <a href="#" onclick="selectLanguage('python'); event.preventDefault()">Python</a>
                        <a href="#" onclick="selectLanguage('numpy'); event.preventDefault()">NumPy</a>
                        <a href="#" onclick="selectLanguage('pandas'); event.preventDefault()">Pandas</a>
                        <a href="#" onclick="selectLanguage('java'); event.preventDefault()">Java</a>
                        <a href="#" onclick="selectLanguage('javascript'); event.preventDefault()">JavaScript</a>
                        <a href="#" onclick="selectLanguage('django'); event.preventDefault()">Django</a>
                        <a href="#" onclick="selectLanguage('html'); event.preventDefault()">HTML</a>
                        <a href="#" onclick="selectLanguage('css'); event.preventDefault()">CSS</a>
                        <a href="#" onclick="selectLanguage('c++'); event.preventDefault()">C++</a>
                        <a href="#" onclick="selectLanguage('other'); event.preventDefault()">직접 입력</a>
                    </div>                    
                </div>
                
                <!-- 사용 언어 추가될 부분 -->
                <div id="board-create-selected-languages"></div>

                <!-- 파일 첨부 -->
                <div id="board-file-display"></div>
                <div class="board-create-img" onclick="boardFileInput()">
                    파일 첨부
                    <img src="{% static 'img/paperclip.svg' %}" alt="파일 첨부 아이콘">
                </div>
                <input type="file" name="file" id="board-file-input">
            </div>
        </div>
    </form>
</main>
    {% load static %}
    <script src="{% static 'js/board_create.js' %}"></script>
</body>
</html>
