<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/grow_2.css' %}">
    <title>ProReflect</title>
</head>
<body>
    <header id="header">
        <a href="{% url 'main' %}" id="header-logo">ProReflect</a>
        <nav id="header-nav">
            <a href="{% url 'board_list' %}">공유용 게시판</a>
            <a href="{% if user.is_authenticated %}{% url 'grow_1' %}{% else %}{% url 'login' %}{% endif %}">성장관찰</a>
            <a href="{% if user.is_authenticated %}{% url 'mypage_setting' %}{% else %}{% url 'login' %}{% endif %}">마이페이지</a>
        </nav>
    </header>
    <main>
        <a href="{% url 'main' %}">
            <img src="{% static 'img/back-button.svg' %}" alt="뒤로가기 아이콘" class="back-btn-icon">
        </a>

        <div class="Big-container">
            <div class="content-container">
                <h1 class="title-container">Title: {{ reflection.post.title }}</h1>
                <h1 class="Username-container">Username: {{ reflection.user.username }}</h1>
                <div class="black1-container">
                    <h1 class="period-container">{{ reflection.post.get_development_period_display }}</h1>
                    <h1 class="people-container">{{ reflection.post.get_participants_display }}</h1>
                </div>
                {% load myapp_filters %}
                <div class="black2-container">
                  <!-- 기술 스택을 루프를 돌면서 표시 -->
                  {% for language in reflection.post.languages.all %}
                      <h1 class="tech-container">{{ language.name }}</h1> <!-- language.name는 기술 스택의 이름을 나타냄 -->
                  {% empty %}
                      <h1 class="tech-container">No languages listed</h1>
                  {% endfor %}
              </div>
              
                <div class="img-container">
                    {% if reflection.post.file %}
                        <img src="{{ reflection.post.file.url }}" alt="{{ reflection.post.title }}의 이미지">
                    {% else %}
                        <img src="{% static 'img/default_project_image.png' %}" alt="기본 이미지">
                    {% endif %}
                </div>
                <div class="explain-container">{{ reflection.content }}</div>
            </div>

            <div class="proreflect-container">
                <h1 class="proTitle-container">ProReflect: {{ reflection.post.title }}</h1>
                <div class="addition-info">
                    <div id="edit-delete-buttons">
                    </div>
                    <div class="date-container">{{ reflection.created_at|date:"Y.m.d" }}</div>
                    <div class="reflect-container">
                        <h1 class="reflecttext-container">{{ reflection.content }}</h1>
                    </div>
                </div>
            </div>     
        </div>
    </main>
</body>
</html>
