<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/grow_2.css' %}">
    <title>ProReflect</title>
  </head>
  <body>
    <header id="header">
        <a href="{% url 'main' %}" id="header-logo">ProReflect</a>
        <nav id="header-nav">
            <a href="{% url 'board_list' %}">공유용 게시판</a>
            <a href="{% if user.is_authenticated %}{% url 'grow_1' %}{% else %}{% url 'login' %}{% endif %}">성장관찰</a>
            <a href="{% if user.is_authenticated %}{% url 'mypage_setting' %}{% else %}{% url 'login' %}{% endif %}">마이페이지</a>
        </nav>
    </header>
    <main>
        <a href="{% url 'main' %}">
            <img src="{% static 'img/back-button.svg' %}" alt="뒤로가기 아이콘" class="back-btn-icon">
        </a>

      <div class="Big-container">
        <div class="content-container">
          <h1 class="title-container">Title:</h1>
          <h1 class="Username-container">Username</h1>
          <div class="otherusers-container">
            <h1 class="otheruser-container">@other_user</h1>
            <h1 class="longname-container">@other_user_with_a_long_name</h1>
            <h1 class="otheruser1-container">@other_user1</h1>
            <h1 class="otheruser2-container">@2nd_user</h1>
          </div>
          <div class="black1-container">
            <h1 class="period-container">0~3개월</h1>
            <h1 class="people-container">1~6명</h1>
          </div>
          <div class="black2-container">
            <h1 class="html-container">HTML</h1>
            <h1 class="css-container">CSS</h1>
            <h1 class="Django-container">Django</h1>
          </div>
          <div class="img-container"></div>
          <div class="explain-container">내용 설명</div>
        </div>

        <div class="proreflect-container">
            <h1 class="proTitle-container">ProReflect: Title, If it's too I...</h1>
            <div class="addition-info">
                <div id="edit-delete-buttons">
                <button type="button" class="edit-button">수정하기</button>
                <button type="button" class="delete-button">삭제하기</button>
                </div>
                <div class="date-container">YYYY.MM.DD</div>
                <div class="reflect-container">
              <h1 class="reflecttext-container">내용</h1>
            </div>
            </div>
            
          </div>     
      </div>
    </main>
  </body>
</html>