<!DOCTYPE html>
<html lang="ko">
{% load static %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>회원가입</h1>
        </div>
        <div class="register-form">
            <p class="form-title">회원가입을 위해<br>정보를 입력해주세요.</p>
            <form id="registrationForm" action="{% url 'login_create' %}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">회원가입</button>
            </form>
        </div>
    </div>


</body>
</html>