<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mypage_share.css' %}">
    
    <title>ProReflect</title>
</head>
<body>
    <header id="header">
        <a href="{% url 'main' %}" id="header-logo">ProReflect</a>
        <nav id="header-nav">
            <a href="{% url 'board_list' %}">공유용 게시판</a>
            <a href="{% if user.is_authenticated %}{% url 'grow_1' %}{% else %}{% url 'login' %}{% endif %}">성장관찰</a>
            <a href="{% if user.is_authenticated %}{% url 'mypage_share' %}{% else %}{% url 'login' %}{% endif %}">마이페이지</a>
        </nav>
    </header>
    <main>
        <div class="logo-text">
            <h1>ProReflect</h1>
        </div>
        <form class="form-container">
            <div class="form-text">
                <h2>Username</h2>
            </div>
            <div class="section">
                <label class="label">회고용 게시판 엑세스</label>
                <ul class="access-options">
                    <li class="option selected">모두공개</li>
                    <li class="option">친구 공개</li>
                    <li class="option">나만 공개</li>
                </ul>
            </div>
            <div class="section">
                <label class="label">친구아이디/이메일 추가</label>
                <input type="text" class="input-box">
                <button type="button" class="add-button">추가하기</button>
            </div>
            <div class="section">
                <label class="label">초대된 친구</label>
                <span class="invited-friends" onclick="toggleInvitedList()">나영, 정현 외 3명 ></span>
                <div class="invited-list" id="invited-list">
                    <p><span class="highlight"><5명의 친구와 회고를 나누고 있어요</span></p>
                    <hr>
                    <div class="friend">
                        <span>나영</span>
                        <button type="button" class="remove-button">공유 그만하기</button>
                    </div>
                    <div class="friend">
                        <span>정현</span>
                        <button type="button" class="remove-button">공유 그만하기</button>
                    </div>
                    <div class="friend">
                        <span>친구1</span>
                        <button type="button" class="remove-button">공유 그만하기</button>
                    </div>
                    <div class="friend">
                        <span>친구2</span>
                        <button type="button" class="remove-button">공유 그만하기</button>
                    </div>
                    <div class="friend">
                        <span>친구3</span>
                        <button type="button" class="remove-button">공유 그만하기</button>
                    </div>
                </div>
            </div>
        </form>
    
        {% load static %}
        <script src="{% static 'js/mypage_share.js' %}"></script>
    </main>
</body>
</html>