<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>new_home_login</title>
    <style>
        .recommend-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5em;
            border-bottom: 1px solid gray;
        }

        .recommend-title p {
            font-size: 3em;
            font-weight: bold;
        }

        .recommend-title span {
            margin-left: 0.5em;
            font-size: 1.5em;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header id="header">
        <a href="" id="header-logo">ProReflect</a>
        <nav id="header-nav">
           <a href="">공유용 게시판</a>
           <a href="">프로젝트로그</a>
           <a href="">마이페이지</a> 
        </nav>
    </header>
    
    <main>
        <div class="search-container">
            <img src="../img/board-search.svg" alt="검색창 아이콘">
            <input type="text" class="board-search" placeholder="검색어를 입력해주세요">
        </div>
        <div class="recommend-title">
            <p>Username</p><span>님을 위한 추천</span>
        </div>
        <section class="project-section">
            <h2>최근에 올라온 프로젝트</h2>
            <div class="project-container" id="recent-projects">
                <!-- <div class="project-box">
                    <img src="/img/person.png" alt="프로젝트 이미지">
                    <div class="project-title">프로젝트 제목</div>
                    <div class="project-content">프로젝트 설명</div>
                </div>                 -->
            </div>
        </section>

        <section class="project-section">
            <h2>사람들이 많이 본 프로젝트</h2>
            <div class="project-container" id="most-viewed-projects">
                <!-- <div class="project-box">
                    <img src="/img/person.png" alt="프로젝트 이미지">
                    <div class="project-title">프로젝트 제목</div>
                    <div class="project-content">프로젝트 설명</div>
                </div> -->
            </div>
        </section>

        <section class="project-section">
            <h2>인기 있는 프로젝트</h2>
            <div class="project-container" id="popular-projects">
                <!-- <div class="project-box">
                    <img src="/img/person.png" alt="프로젝트 이미지">
                    <div class="project-title">프로젝트 제목</div>
                    <div class="project-content">프로젝트 설명</div>
                </div> -->
            </div>
        </section>
    </main>

    <script src="/js/home.js"></script>
</body>
</html>